<%- include("../layouts/boilerplate") %>
<h3>Forgot Password</h3>
<form action="/forgot-password" method="POST">
  <input type="email" name="email" placeholder="Your email" required />
  <button type="submit">Send Reset Link</button>
</form>
