<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <h3 class="col-6 offset-3">Reset Password</h3>
    <div class="col-6 offset-3">
        <form action="/reset-password" method="POST" class="needs-validation" novalidate>

            <div class="mb-3">
                <label class="form-label" for="email">Email :</label><br>
                <input  
                    class="form-control" 
                    id="email"
                    type="email" 
                    name="email" 
                    required />
            </div>  

            <div class="mb-3">
                <label class="form-label" for="newPassword">New Password :</label><br>
                <input  
                    class="form-control" 
                    id="newPassword"
                    type="password" 
                    name="newPassword" 
                    required />
            </div>

            <div class="mb-3">
                <label class="form-label" for="confirmPassword">Confirm New Password :</label><br>
                <input  
                    class="form-control" 
                    id="confirmPassword"
                    type="password" 
                    name="confirmPassword" 
                    required />
            </div>

            <button class="btn btn-primary">Reset Password</button>

        </form>
            <p class="text-center mt-3">
                <a href="/login">Back to Login</a>
            </p>

    </div>
</div>


